/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";

}

header{
    color: white;
}

header a{
    color: inherit;
    text-decoration: none;
}

.container{
    width: 70%;
    margin: 0 auto;
    /* debag */
    height: 100%;
}

/* HEADER TOP */
.header-top{
    padding: 20px 0;
    /* debug */
    height: 80px;
    background-color: #255EE9;
}




.header-top > .container{
    /* debug */
    /* height: 40px;
    background-color: #DAA520;
    border: 2px dashed black; */
    /* /debug */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 7px;
    width: 85%;
}

.header-menu{
    /* debug */
    /* border-left: 2px dashed black;
    border-right: 2px dashed black;
    width: 60%; */
    /* /debug */
    justify-content: center;
}

.header-menu ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
   
}

.header-menu li{
    margin: 0 10px;
}

.button{
    background-color: white;
    padding: 7px 15px;
    color: black;
    border-radius: 25px;
    font-size: 12px

}

.vertical-align{
    display: flex;
    align-items: center;
}
/* /HEADER TOP */

/* HEADER BOTTOM */
.header-bottom{
    height: 330px;
    background-image: url("../img/jumbo.png");
    padding: 20px;
    background-size: contain;
    background-repeat: round;
    text-align: center;
}



.header-bottom > .container{
    width: 60%;
    padding: 40px;
    /* background-color: pink; */
}

.header-bottom p{
    margin: 30px 0;

}

.header-bottom i{
    font-size: 12px;
    margin-right: 5px;
}

.header-bottom .button{
    padding: 10px 15px;

}

.black{
    background-color: #23272A;
    color: white;
    margin-left: 10px;
}
/* /HEADER BOTTOM */

/* MAIN section*/
.section{
    background-color: beige;
    padding: 20px 0;
    
}

.section > .container{
    display: flex;
}

.section.first .blue{
    width: 60%;
}

.section img{
    width: 100%;
}

.pink{
    width: 40%;
}

.section p, .main-bottom p{
    margin-top: 25px;
    line-height: 23px;
}

.title-section{
    font-size: 30px;
    font-size: 39px;
    font-weight: 700;
}

.section.grey{
    background-color:#D3D3D3;
}

.section.grey > .container{
    flex-direction: row-reverse;

}
/* /MAIN section */

/* BOTTOM MAIN */
.main-bottom{
    
    background-color:#D3D3D3;
    padding: 20px 0;


}

.main-bottom > .container{
    text-align: center;
    
}

.main-bottom .title-section{
    font-size: 25px;
}

.main-bottom i{
    font-size: 12px;
    margin-right: 5px;
}

.main-bottom .button{
    display: inline-block;
    background-color: #7289DA;
    color: inherit;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
}
/* /BOTTOM MAIN */

/* FOOTER TOP */
.footer-top{
    background-color: #23272A;
    padding: 10px 0 20px;
    
}

.footer-top > .container{
    display: flex;
}

.list{
    height: 100%;
    width: calc(100% / 6);
    font-size: 14px;
}

.list:first-child{
    width: calc(100% / 6 * 2);
}

.footer-top .footer-title{
    font-size: 28px;
    font-weight: 700;
    color: #7289DA;
}

.footer-top .language{
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.footer-top .language img{
    width: 15%;
}

.footer-top .language span{
    margin-left: 5px;
}

.footer-top ul{
    list-style: none;
    color: white;
}

.footer-top ul li{
    margin: 12px 10px;
}

.footer-top ul li:first-child{
    color: #7289DA;
}
/* /FOOTER TOP */

/* FOOTER BOTTOM */
.footer-bottom{
    background-color: #23272A;
    
}

.footer-bottom > .container{
    /* background-color: lightblue; */
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid #7289DA;
}

.button-footer{
    /* background-color: #FFB6C1;
    border: 1px dashed black; */
    padding: 5px 10px;
    
}

.footer-bottom img{
    width: 75%;
}

.footer-bottom .button{
    display: inline-block;
    background-color: #7289DA;
    color: inherit;
    text-decoration: none;
    color: white;
   
    padding: 10px 20px;
}

.awesome{
    color: white;
    margin-top: 10px;
    font-size: 17px;
}

.awesome i{
    margin-right: 15px;
}